<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <script type="text/javascript" src="/js/script.js"></script>
        <title>Express - 1</title>
    </head>
    <body>
        <h1>Hello Express server</h1>

        <p>Here is a demonstration of using html, css, and javascript with node.js express server.</p>

        <p id="latin">Lorem ipsum dolor sit amet, consectetur adipisci elit, 
            sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, 
            nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <button onclick="upperCase()">Uppercase</button>
    </body>
</html>