name: CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build Docker image
      env:
        IMAGE_TAG: ${{ github.sha }}

      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/yakcicd:${IMAGE_TAG} .
        docker push ${{ secrets.DOCKER_USERNAME }}/yakcicd:${IMAGE_TAG}