name: DockerHub CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  push_to_registry:
    name: GitHub to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        env:
          IMAGE_TAG: ${{ github.sha }}

        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/yakcicd:${IMAGE_TAG} .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/yakcicd:${IMAGE_TAG} ${{ secrets.DOCKERHUB_USERNAME }}/yakcicd:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/yakcicd

  update_ssh_linode:
    name: Update Linode Server Image
      needs: "push_to_registry"
      runs-on: ubuntu-latest
      steps:
      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: bash update.sh